body {
    background-color:rgba(166, 191, 191, 0.633);
    height : 100vh;
    /* width:auto;
    max-width: 100%; */
    text-align: center;
}

h1{
    text-decoration: underline;
}


/* *{
    border: 1px solid black;
} */

h1{
    text-align: center;
}

div {
    width : 22%;
    display: inline-block;
    background-color: black;
    height :17%;
    text-align: center;
    color :aquamarine;
    /* font-size: 125px; */

    
    /* margin-left: auto; */
    margin : 2px 1px;
   
    border-radius: 2%;
    border:solid 1px black;
   
}